* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.join_ex {
    width: 100vw;
    height: 100vh;
    background-color: #efe8da;
}

.join {
    width: 460px;
    margin: 0 auto;
}
.join h1 {
    text-align: center;
    padding: 30px 0;
}
.join p {
    font-size: 11px;
    margin-bottom: 10px;
}
.join form ul {
    width: 100%;
}
.join form ul li {
    margin-bottom: 15px;
}
.join form ul li input {
    height: 30px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid black;
    background-color: #efe8da;
}
.join form ul li input:focus {
    outline: none;
}
.join form ul li .box {
    height: 30px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #efe8da;
}
.join form ul .email_li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join form ul .email_li .title {
    width: 100%;
    margin-bottom: 10px;
}
.join form ul .email_li #user_email {
    width: 50%;
}
.join form ul .email_li .box {
    width: calc((50% - 41px) / 2);
}
.join form ul .email_li .select {
    width: calc((50% - 41px) / 2);
}
.join form ul .password_li .title {
    width: 100%;
    margin-bottom: 10px;
}
.join form ul .password_li #user_pw1,
.join form ul .password_li #user_pw2 {
    width: 460px;
}
.join form ul .password_li .pw_btn {
    margin-top: 5px;
}
.join form ul .name_li #user_name {
    width: 100%;
}
.join form ul .birth_li {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join form ul .birth_li .title {
    width: 100%;
    margin-bottom: 10px;
}
.join form ul .birth_li .box {
    width: 146px;
    margin-right: 5px;
}
.join form ul .birth_li .box:nth-child(3) {
    margin-right: 0;
}
.join form ul .tel_li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join form ul .tel_li .title {
    width: 100%;
    margin-bottom: 10px;
}
.join form ul .tel_li #tel_first,
.join form ul .tel_li #tel_second,
.join form ul .tel_li #tel_third {
    height: 30px;
    width: 30%;
    text-align: center;
    border: none;
    border-bottom: 1px solid black;
    background-color: #efe8da;
}
.join form ul .addr_li .post_code #sample4_postcode {
    width: 100px;
}
.join form ul .addr_li .post_code .search_btn {
    width: 100px;
}
.join form ul .addr_li .post_code .search_btn:hover {
    font-weight: bold;
}
.join form ul .addr_li .address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.join form ul .addr_li .address #sample4_roadAddress,
.join form ul .addr_li .address #sample4_jibunAddress,
.join form ul .addr_li .address #sample4_detailAddress,
.join form ul .addr_li .address #sample4_extraAddress {
    width: 49%;
}
.join form ul .addr_li label.title {
    width: 100%;
    margin-bottom: 10px;
}
.join form ul .addr_li input {
    width: 49%;
    margin-bottom: 10px;
}
.join form ul .addr_li input#sample4_postcode {
    width: 25%;
    margin-right: 10px;
}
.join form .join_btn {
    width: 100%;
    height: 60px;
    background-color: #fd8234;
    text-align: center;
    line-height: 60px;
    margin: 50px 0;
}
.join form .join_btn:hover {
    font-weight: bold;
}
.join form a {
    display: block;
}