/** {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

li {
    list-style: none;
}

a {
    text-decoration: none!important;
    color: black!important;
}

.terms_ex {
    /*background-color: #EFE8DA;*/
    width: 100vw;
    height: 100vh;
}

section {
    width: 460px;
    margin: 0 auto;
}
section h1 {
    text-align: center;
    padding: 30px 0;
}
section ul {
    width: 100%;
}
section ul li {
    margin-bottom: 30px;
}
section ul li label {
    font-size: 14px;
}
section ul li label img {
    width: 25px;
}
section ul li label b {
    color: #FD8234;
}
section ul label:hover {
    font-weight: bold;
}
section ul li:nth-child(1) {
    text-decoration: underline;
}
section ul li:nth-child(2) p,
section ul li:nth-child(3) p {
    height: 250px;
    overflow: auto;
    padding-top: 10px;
}
section .join_btn {
    height: 60px;
    text-align: center;
    margin-bottom: 50px;
}
section .join_btn .disagree {

    width: calc((100% - 15px) / 2);
    height: 100%;
    margin-right: 15px;
    line-height: 45px;
    float: left;
    /*background-color: #e6e6e6;*/
}
section .join_btn .disagree a {
    display: block;
}
section .join_btn .agree {
    width: calc((100% - 15px) / 2);
    height: 100%;
    line-height: 45px;
    float: left;
    /*background-color: orange;*/
}
section .join_btn .agree a {
    display: block;
}
section .join_btn .disagree:hover,
section .join_btn .agree:hover {
    font-weight: bold;
}