<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>약관동의</title>
    <link rel="stylesheet" href="/css/terms.css">
    <script src="/js/terms.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="terms_ex">
    <section>
        <h1>약관동의</h1>
        <ul>
            <li>
                <input type="checkbox" id="total_terms">
                <label for="total_terms">

                    이용약관, 개인정보 수집 및 이용에 모두 동의합니다.</label>
            </li>
            <li>
                <input type="checkbox" id="terms_01" class="terms_el">
                <label for="terms_01">
                    이용약관에 동의합니다.<b> (필수)</b></label>

                <p>제 1 조 (목적)<br/>
                    이 약관은 당사(이하 '회사'라 표기합니다)가 제공하는 홈페이지 서비스의 이용조건 및 절차, 기타 필요한 사항을 규 정함을 목적으로 합니다.
                    <br/><br/>
                    제 2 조 (약관의 효력과 변경)<br/>
                    1. 이 약관은 이용자에게 공지함으로써 효력을 발생합니다.<br/>
                    2. 이 약관의 내용은 서비스 화면 내에 게시하며 약관의 변경 사항이 있을 경우 회사의 온라인 공지사항을 통해 공지합니다.<br/>
                    3. 회사는 필요하다고 인정되는 경우 이 약관을 개정할 수 있으며 변경된 약관은 제 1 항과 같은 방법으로 효력을 발생합니다.
                    <br/><br/>
                    제 3 조 (약관적용외 준칙)<br/>
                    1. 이 약관은 당사가 제공하는 서비스에 관한 이용규정 및 별도 약관과 함께 적용됩니다.<br/>
                    2. 이 약관에 명시되지 않은 사항이 관계법령에 규정되어 있을 경우에는 그 규정에 따릅니다.
                    <br/><br/>
                    제 4 조 (정의)
                    이 약관에서 사용하는 용어의 정의는 다음과 같습니다.<br/>
                    1. "이용자"란 "홈페이지"에 접속하여 이 약관에 따라 "홈페이지" 가 제공하는 서비스를 받는 개인회원 및 법인회원을 말합니다.<br/>
                    2. "가입"이란 당사가 제공하는 신청서 양식에 해당 정보를 가입하고,본 약관에 동의하여 서비스 이용계약을 완료시키는 행위를 말합니다.<br/>
                    3. "회원"이란 "홈페이지"에 개인 및 법인정보를 제공하여 회원등록을 한 이용자로서 "홈페이지 "의 정보를 지속적으로 제공받으며 해당 서비스를 계속적으로 이용할 수 있는
                    자를
                    말합니다.<br/>
                    4. "ID"란 회원식별과 회원의 서비스 이용을 위하여 회원이 신청하고 당사가 승인하는 문자 및 숫자의 조합을 말합니다.<br/>
                    5. "비밀번호"란 이용자가 회원ID와 일치하는지를 확인하고 통신상의 자신의 비밀보호를 위하여 이용자 자신이 선정한 문자와 숫자의 조합을 말합니다.<br/>
                    6. "탈퇴"란 회원이 이용계약을 종료 시키는 행위를 말합니다.<br/>
                    7. 본 약관에서 정의하지 않은 용어는 개별서비스에 대한 별도 약관 및 이용규정에서 정의합니다.
                    <br/><br/>
                    제 5 조 (회원자격 및 이용신청)<br/>
                    1. 회원가입은 이용자가 본 약관에 동의하고, 회사에서 요구하는 소정의 가입절차에 응한 후 이루어집니다<br/>
                    2. 회사는 새로운 회원이 가입시 회원 ID를 무료로 제공하며 서비스 이용신청자는 반드시 실명으로 이용신청을 하여야 합니다.<br/>
                    3. 회원가입은 이용자의 이용신청에 대한 회사의 이용 승낙과 이용자의 약관내용에 대한 동의로 성립됩니다.<br/>
                    4. 이용자의 회원등록 후 해당하는 조건이 갖추어진 신청자에게는 신청 즉시 온라인상으로 등록사실을 알리는 화면을 보여줍 니다.
                    <br/><br/>
                    제 6 조 (회원자격 탈퇴 및 자격상실)<br/>
                    1. 다음 각호의 사유에 해당하는 경우 회원자격을 제한 및 정지시킬 수 있습니다.<br/>
                    가. 타인의 명의를 도용하여 신청하였을 때<br/>
                    나. 이용 계약 신청서의 내용을 허위로 기재하거나 허위서류를 첨부하여 신청하였을 때<br/>
                    다. 사회의 안녕이나 혹은 미풍양속을 저해할 목적으로 신청하였을 때<br/>
                    라. 다른 사람의 당사서비스 이용을 방해하거나 그 정보를 도용하는 등의 행위를 하였을때<br/>
                    마. 당사 사이트를 이용하여 법령과 본 약관이 금지하는 행위를 하는 경우<br/>
                    바. 기타 당사가 정한 이용신청요건이 미비 되었을 때
                    <br/><br/>
                    제 7 조 (서비스의 제공 및 이용)<br/>
                    1. 서비스의 이용은 회사의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴 1일 24시간을 원칙으로 합니다.<br/>
                    2. 회사는 다음 각 호에 해당하는 경우 서비스 제공을 중지할 수 있습니다.<br/>
                    가. 시스템 정비를 위하여 부득이한 경우<br/>
                    나. 전기통신사업법에 규정된 기간통신사업자가 전기통신 서비스를 중지하는 경우<br/>
                    다. 기타 회사가 서비스를 제공할 수 없는 사유가 발생할 경우<br/>
                    3. 당사가 제공하는 서비스는 아래와 같으며,그 변경될 서비스의 내용을 이용자에게 공지하고 아래에서 정한 서비스를 변경하 여 제공 할 수 있습니다.<br/>
                    가. 홈페이지(회원약관)<br/>
                    나. 기타 회사가 자체 개발하거나 다른 회사와의 협력 계약 등을 통해 제공하는 일체의 서비스
                    <br/><br/>
                    제 8 조 (회원정보 사용에 대한 동의)<br/>
                    1. 회원의 개인정보에 대해서는 당사의 개인정보 보호정책이 적용됩니다.<br/>
                    2. 당사의 회원 정보는 다음과 같이 수집, 사용, 관리, 보호됩니다.<br/>
                    가. 개인정보의 수집 : 당사는 귀하의 당사 서비스 가입 시 귀하가 제공하는 정보, 커뮤니티 활동을 위하여 귀하가 제공하는 정보, 각종 이벤트 참가를 위하여 귀하가 제공하는
                    정보,
                    광고나 경품의 취득을 위하여 귀하가 제공하는 정보 등을 통하여 귀하에 관한 정보를 수집합니다.<br/>
                    나. 개인정보의 사용 : 당사는 당사 서비스 제공과 관련해서 수집된 회원의 신상정보를 본인의 승낙 없이 제3자에게 누설, 배포하지 않습니다. 단, 전기통신기본법 등 법률의
                    규정에
                    의해 국가기관의 요구가 있는 경우, 범죄에 대한 수사상의 목적이 있거나 정보통신윤리 위원회의 요청이 있는 경우 또는 기타 관계법령에서 정한 절차에 따른 요청이 있는 경우,
                    귀하가
                    당사에 제공한 개인정보를 스스로 공개한 경우에는 그러하지 않습니다.<br/>
                    다. 개인정보의 관리 : 귀하는 개인정보의 보호 및 관리를 위하여 홈페이지 회원정보에서 수시로 귀하의 개인정보를 수정/삭제할 수 있습니다.<br/>
                    라. 개인정보의 보호 : 귀하의 개인정보는 오직 귀하만이 열람/수정/삭제 할 수 있으며, 이는 전적으로 귀하의ID와 비밀번호에 의해 관리되고 있습니다. 따라서 타인에게
                    본인의
                    ID와 비밀번호를 알려주어서는 아니 되며, 작업 종료 시에는 반드시 로그아웃 해 주시고, 웹 브라우저의 창을 닫아 주시기 바랍니다(이는 타인과 컴퓨터를 공유하는 인터넷
                    카페나
                    도서관 같은 공공장소에서 컴퓨터를 사용하는 경우에 귀하의 정보의 보호를 위하여 필요한 사항입니다).<br/>
                    마. 기타 : 게시판이나, E-mail,등 온라인상에서 귀하가 자발적으로 제공하는 개인정보는 다른 사람들이 수집하여 사용할 수 있음을 인지하시기 바랍니다. 공개적인 공간에
                    게재되는
                    개인정보로 인해 원하지 않는 상황이 발행할 수도 있습니다. 개인정보에 대한 비밀을 유지할 책임은 귀하에게 있으며, 당사는 개인정보 유출로 인해 발생한 결과에 대하여 어떤
                    책임도
                    부담하지 아니합니다.<br/>
                    3. 회원이 당사에 본 약관에 따라 이용신청을 하는 것은 당사가 본 약관에 따라 신청서에 기재된 회원정보를 수집, 이용 및 제공하는 것에 동의하는 것으로 간주됩니다.
                    <br/><br/>
                    제 9 조 (사용자의 정보 보안)<br/>
                    1. 가입 신청자가 당사 서비스 가입 절차를 완료하는 순간부터 귀하는 입력한 정보의 비밀을 유지할 책임이 있으며, 회원의 ID와 비밀번호를 사용하여 발생하는 모든 결과에
                    대한
                    책임은 회원본인에게 있습니다.<br/>
                    2. ID 와 비밀번호에 관한 모든 관리의 책임은 회원에게 있으며, 회원의 ID나 비밀번호가 부정하게 사용되었다는 사실을 발견한 경우에는 즉시 당사에 신고하여야 합니다.
                    신고를
                    하지 않음으로 인한 모든 책임은 회원 본인에게 있습니다.<br/>
                    3. 이용자는 당사 서비스의 사용 종료 시 마다 정확히 접속을 종료하도록 해야 하며, 정확히 종료하지 아니함으로써 제3자가 귀하에 관한 정보를 이용하게 되는 등의 결과로
                    인해
                    발생하는 손해 및 손실에 대하여 당사는 책임을 부담하지 아니합니다.
                    <br/><br/>
                    제 10 조 (정보의 제공 및 광고의 게재)<br/>
                    1. 회사는 서비스를 운용함에 있어 각종 정보를 웹사이트에 게재하는 방법 등으로 회원에게 제공할 수 있습니다.<br/>
                    2. 회사는 서비스의 운영과 관련하여 웹사이트, 전자우편 등에 광고 등을 게재할 수 있습니다.
                    <br/><br/>
                    제 11 조 (당사에 제출된 게시물의 저작권)<br/>
                    1. 귀하가 게시한 게시물의 내용에 대한 권리는 귀하에게 있습니다.<br/>
                    2. 당사는 게시된 내용을 사전 통지 없이 편집, 이동 할 수 있는 권리를 보유하며, 다음의 경우 사전 통지 없이 삭제 할 수 있습니다.<br/>
                    가. 본 서비스 약관에 위배되거나 상용 또는 불법, 음란, 저속하다고 판단되는 게시물을 게시한 경우<br/>
                    나. 다른 회원 또는 제 3자를 비방하거나 중상 모략으로 명예를 손상시키는 내용인 경우<br/>
                    다. 공공질서 및 미풍양속에 위반되는 내용인 경우<br/>
                    라. 범죄적 행위에 결부된다고 인정되는 내용일 경우<br/>
                    마. 제3자의 저작권 등 기타 권리를 침해하는 내용인 경우<br/>
                    바. 탈퇴자가 게시한 게시물<br/>
                    사. 기타 관계 법령에 위배되는 경우<br/>
                    3. 귀하의 게시물이 타인의 저작권을 침해함으로써 발생하는 민, 형사상의 책임은 전적으로 귀하가 부담하여야 합니다.
                    <br/><br/>
                    제 12 조 (회사의 의무와 책임)<br/>
                    1. 서비스의 소유 및 운영은 회사에 있습니다.<br/>
                    2. 회사는 서비스와 관련하여 득한 회원의 개인정보를 본인의 사전 동의없이 타인에게 누설, 공개 또는 배포할 수 없으며, 서비 스관련이외의 상업적인 목적으로 사용할 수
                    없습니다.
                    다만 관계법령에 의한 경우 및 수사상의 목적등의 경우는 예외로 합니다.
                    <br/><br/>
                    제 13 조 (회원의 의무)<br/>
                    1. 회원은 관계법령, 이 약관의 규정, 이용안내 및 주의사항 등 회사가 통지하는 사항을 준수하여야 하며, 기타 회사의 업무에 방해되는 행위를 하여서는 안됩니다.<br/>
                    2. 회원은 회사의 사전 동의없이 서비스를 이용하여 어떠한 영리행위도 할 수 없습니다.<br/>
                    3. 회원은 서비스를 이용하여 얻은 정보를 회사의 사전 동의없이 복사,복제,변경, 번역,출판,방송 기타의 방법으로 사용하거나 이를 타인에게 제공할 수 없습니다.<br/>
                    4. 회원은 서비스 이용과 관련하여 다음 각 호의 행위를 하여서는 안됩니다.<br/>
                    가. 다른 회원의 ID를 부정사용하는 경우<br/>
                    나. 범죄행위를 목적으로 하거나 기타 범죄행위와 관련된 행위<br/>
                    다. 선량한 풍속, 기타 사회질서를 해하는 경우<br/>
                    라. 타인의 명예를 훼손하거나 모욕하는 행위<br/>
                    마. 타인의 지적재산권 등의 권리를 침해하는 행위<br/>
                    바. 해킹행위 또는 컴퓨터바이러스의 유포행위<br/>
                    사. 타인의 의사에 반하여 광고성 정보등 일정한 내용을 전송하는 행위<br/>
                    아. 당사 사이트에 게시된 정보의 변경<br/>
                    자. 서비스의 안정적인 운영에 지장을 주거나 줄 우려가 있는 일체의 행위<br/>
                    차. 기타 관계법령에 위배되는 행위
                    <br/><br/>
                    제 14 조 (회원 정보의 변경)<br/>
                    1. 회원은 회원정보의 변경(주소, E-mail Address등)이 있을 경우 즉시 회사가 운영하는 웹상에 통보 및 수정을 하여야 합니다.<br/>
                    2. 회원의 변경사항에 대한 미통보 및 미수정으로 인한 책임은 전적으로 회원에게 있으며 이는 서비스의 정지 및 해지의 사유가 될 수 있습니다.
                    <br/><br/>
                    제 15 조 (게시물 또는 내용물의 삭제)
                    회사는 서비스의 게시물 또는 내용물이 규정에 위반되거나 회사의 소정 게시기간을 초과하는 경우 사전 통지나 동의 없이 이를 삭제할 수 있습니다.
                    <br/><br/>
                    제 16 조 (계약해지 및 이용제한)<br/>
                    1. 회원이 이용계약을 해지하고자 하는 때에는 본인이 서비스 또는 전자우편을 통하여 해지하고자 하는 날의 1일전까지 (단, 해지일이 법정공휴일인 경우 공휴일 개시 2일전
                    까지)
                    이를 회사에 신청하여야 합니다.<br/>
                    2. 회사는 회원이 이 약관의 내용을 위반하고, 회사 소정의 기간 이내에 이를 해지하지 아니하는 경우 서비스 이용계약을 해지 할 수 있습니다.<br/>
                    3. 회사는 계약내용을 위반하는 회원에 대하여는 사전 동의 없이 이용의 제한 및 정지를 할 수 있습니다.<br/>
                    4. 회사는 회원의 계약내용과 일치하지 않는 사용 및 법령에 위배되는 행위에 관하여 서비스 정지 및 해지에 관한 권리를 갖습니다.
                    <br/><br/>
                    제 17 조 (손해배상)
                    회사는 무료로 제공되는 서비스와 관련하여 회원에게 어떠한 손해가 발생하더라도 동 손해가 회사의 중대한 과실에 의한 경우를 제외하고 이에 대하여 책임을 부담하지 아니합니다.
                    <br/><br/>
                    제 18 조 (면책 조항)<br/>
                    1. 회사는 천재지변 기타 이에 준하는 불가항력으로 인하여 서비스를 제공할 수 없을 경우에는 서비스 제공 중지에 관한 책임을 면합니다.<br/>
                    2. 회사는 이용자들의 귀책사유로 인한 서비스 이용의 장애에 대하여 책임을 면합니다.<br/>
                    3. 회사는 이용자가 서비스를 이용하여 얻은 정보 등으로 인해 입은 손해등에 대하여는 책임을 면합니다.<br/>
                    4. 회사는 회사가 제공하는 서비스망을 통해 제공하는 정보의 신뢰도나 정확성에 대하여는 책임을 면합니다.<br/>
                    5. 회사는 이용자가 게시 또는 전송한 자료의 내용에 관하여는 책임을 면합니다.
                    <br/><br/>
                    부칙 1.
                    (시행일) 이 약관은 2011년 9월 1일부터 시행된다.
                </p>
            </li>
            <li>
                <input type="checkbox" id="terms_02" class="terms_el">
                <label for="terms_02">
                    개인정보 수집 및 이용에 동의합니다.<b> (필수)</b></label>

                <p>당사(이하 “회사”라 함)는 정보통신망이용촉진 및 정보통신망 이용촉진 및 정보보호 등에 관한법률, 개인정보 보호법 등 개인정보와 관련된 법령상의 규정들을 준수하고
                    있으며,
                    개인정보취급방침을 제정하여 이용자의 권익보호에 최선을 다하고 있습니다. 회사는 개인정보취급방침을 통하여 이용자의 개인정보가 어떠한 용도와 방식으로 이용되고 있으며,
                    개인정보보호를
                    위해 회사가 어떠한 조치를 취하는지 알려드립니다. 회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                    <br/>
                    회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.
                    <br/>
                    본 방침은 2013년 11월 30일부터 시행됩니다.
                    <br/><br/>
                    1. 수집하는 개인정보의 항목 및 수집방법<br/>
                    가. 회사는 회원가입, 비회원 구매, 상담, 불량이용의 방지 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br/>
                    - 필수항목 : 이름, ID, 비밀번호, 이메일, 전화번호, 주소, IP Address, 결제기록<br/>
                    - 선택항목 : 개인맞춤 서비스를 제공하기 위하여 회사가 필요로 하는 정보<br/>
                    나. 수집방법
                    회사는 이용자들이 회원서비스를 이용하기 위해 회원으로 가입하실 때 서비스 제공을 위한 필수적인 정보들을 온라인 상에서 입력 받고 있습니다. 또한 서비스 내에서의 설문조사나
                    이벤트
                    행사 시 통계분석이나 경품 제공 등을 위해 선별적으로 개인정보 입력을 요청할 수 있습니다. 그러나, 이용자의 기본적 인권 침해의 우려가 있는 민감한 개인정보(인종 및 민족,
                    사상
                    및 신조, 출신지 및 본적지, 정치적 성향 및 범죄기록, 건강상태 및 성생활 등)는 수집하지 않으며 부득이하게 수집해야 할 경우 이용자들의 사전동의를 반드시 구할 것입니다.
                    <br/><br/>
                    2. 개인정보의 수집 및 이용목적<br/>
                    가. 신규 서비스의 개발
                    이용자들이 제공한 개인정보를 바탕으로 보다 더 유용한 서비스를 개발할 수 있습니다. 회사는 신규 서비스 개발이나 컨텐츠의 확충 시에 기존 이용자들이 회사에 제공한 개인정보를
                    바탕으로 개발해야 할 서비스의 우선 순위를 보다 더 효율적으로 정하고, 회사는 이용자들이 필요로 할 컨텐츠를 합리적으로 선택하여 제공할 수 있습니다.<br/>
                    나. 회원관리
                    회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 만14세 미만 아동 개인정보 수집 시 법정
                    대리인
                    동의여부 확인, 불만처리 등 민원처리, 고지사항 전달
                    다. 마케팅 및 광고에 활용
                    신규 서비스 개발과 이벤트 행사에 따른 정보 전달 및 맞춤 서비스 제공, 인구통계학적 특성에 따른 서비스 제공 및 광고 게재, 접속 빈도 파악 또는 회원의 서비스 이용에
                    대한 통계
                    <br/><br/>
                    3. 개인정보의 보유 및 이용기간<br/>
                    회사는 이용자의 개인정보를 원칙적으로 개인정보의 수집 및 이용목적이 달성되면 지체 없이 파기합니다. 단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.
                    가. 회사의 내부방침에 의한 정보보유 사유<br/>
                    - 부정이용기록 : 부정이용 방지<br/>
                    - 보존기간 : 부정이용일로부터 1년<br/>
                    나. 관련법령에 의한 정보보유 사유<br/>
                    - 계약 또는 청약철회 등에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br/>
                    - 대금결제 및 재화 등의 공급에 관한 기록 : 5년 (전자상거래등에서의 소비자보호에 관한 법률)<br/>
                    - 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 (전자상거래등에서의 소비자보호에 관한 법률)<br/>
                    - 방문(로그)에 관한 기록 : 3개월(통신비밀보호법)
                    <br/><br/>
                    4. 개인정보의 파기 절차 및 방법
                    이용자의 개인정보는 개인정보의 수집 및 이용목적이 달성되면 지체 없이 아래와 같은 방법으로 파기합니다.<br/>
                    가. 파기절차<br/>
                    이용자가 서비스 이용 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 DB로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에
                    따라(보유
                    및 이용기간 참조) 일정 기간 저장된 후 파기됩니다. 별도 DB로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 보유되어지는 이외의 다른 목적으로 이용되지
                    않습니다.<br/>
                    나. 파기방법<br/>
                    - 종이에 출력된 개인정보 : 분쇄기로 분쇄하거나 소각<br/>
                    - 전자적 파일 형태로 저장된 개인정보 : 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제
                    <br/><br/>
                    5. 개인정보의 제3자 제공
                    이용자의 개인정보는 개인정보의 수집 및 이용목적에서 동의한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를
                    외부에
                    공개하지 않습니다. 다만 아래의 경우에는 예외로 합니다.<br/>
                    - 이용자들이 사전에 동의한 경우<br/>
                    - 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
                    <br/><br/>
                    6. 개인정보의 취급위탁
                    회사는 서비스의 원활한 제공을 위해 개인정보를 위탁처리하고 있으며, 관계 법령에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 있습니다.
                    현재 회사의 개인정보처리수탁자와 그 업무의 내용은 다음과 같습니다.<br/>
                    -위탁 대상자(수탁자) / 위탁업무 내용 / 개인정보항목 / 보유 및 이용기간 순<br/>
                    [한진택배] : 상품배송 / - / 계약종료시까지<br/>
                    [㈜코리아센터닷컴] : 고객정보DB시스템운영(전산아웃소싱) / - / 계약종료시까지<br/>
                    [㈜드림시큐리티] : 본인인증 / - / 계약종료시까지<br/>
                    [㈜KG이니시스] : 결제관련 / - / 계약종료시까지<br/>
                    <br/>
                    7. 이용자 및 법정대리인의 권리와 그 행사방법<br/>
                    가. 이용자 및 법정 대리인은 언제든지 등록되어 있는 자신 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며, 동의철회(가입해지)를 요청할 수도
                    있습니다.<br/>
                    나. 이용자 혹은 만 14세 미만 아동의 개인정보 조회, 수정을 위해서는 로그인 후 MyPage에서 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을, 가입해지(동의철회)를
                    위해서는
                    "회원탈퇴"를 클릭하여 본인 확인 절차를 거치신 후 직접 열람, 정정 또는 탈퇴가 가능합니다. 혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체 없이
                    조치하겠습니다.<br/>
                    다. 이용자가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한 잘못된 개인정보를 제3자에게 이미
                    제공한
                    경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.<br/>
                    라. 회사는 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 "3. 개인정보의 보유 및 이용기간"에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는
                    이용할
                    수 없도록 처리하고 있습니다.
                    <br/><br/>
                    8. 쿠키(cookie)의 운영에 관한 사항<br/>
                    회사는 개인화되고 맞춤화된 서비스를 제공하기 위해서 이용자의 정보를 저장하고 수시로 불러오는 ‘쿠키(cookie)’ 등을 운용합니다. 쿠키란 회사의 웹사이트를 운영하는데
                    이용되는
                    서버가 이용자의 브라우저에 보내는 아주 작은 텍스트 파일로서 이용자의 컴퓨터 하드디스크에 저장됩니다.<br/>
                    ▶ 쿠키 등 사용 목적
                    이용자의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 맞춤
                    서비스 제공
                    귀하는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 귀하는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용 하거나, 쿠키가 저장될 때마다 확인을 거치거나,
                    아니면 모든
                    쿠키의 저장을 거부할 수도 있습니다.<br/>
                    ▶ 쿠키의 설치/운영
                    이이용자는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 이용자는 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나,
                    아니면
                    모든 쿠키의 저장을 거부할 수도 있습니다.<br/>
                    ▶ 쿠키 설정 거부 방법<br/>
                    쿠키 설정을 거부하는 방법으로는 이용자가 사용하시는 웹 브라우저의 옵션을 택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 거치거나, 모든 쿠키의 저장을 거부할
                    수
                    있습니다. 단, 이용자께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.
                    설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 > 인터넷 옵션 > 개인정보
                    <br/><br/>
                    9. 개인정보보호를 위한 기술적/관리적 대책<br/>
                    가. 회사는 이용자의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조, 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적 대책을 강구하고
                    있습니다.<br/>
                    - 이용자의 개인정보는 암호화 되어 보호되고 있습니다. 그러나 이용자의 개인정보를 회사가 암호화시켜 보호하고 있음에도 불구하고 공공장소에서의 인터넷사용 등의 과정에서
                    의도하지 않게
                    분실하거나 타인에게 도난 또는 유출될 가능성이 있습니다. 그러므로 이용자는 개인정보를 타인에게 유출시키거나 대여, 제공 등 공개하여서는 아니 되며, 피싱 등 사회공학적
                    방법에 의한
                    개인정보 무단 수집으로부터 자신의 개인정보를 책임 있게 관리하여야 합니다. 이러한 개인정보의 분실, 도난 유출, 피싱, 공개에 대해서 회사는 어떠한 책임도 지지
                    않습니다.<br/>
                    - 이용자의 개인정보는 기본적으로 비밀번호에 의해 보호되며, 파일 및 전송 데이터를 암호화하여 중요한 데이터는 별도의 보안기능을 통해 보호되고 있습니다.<br/>
                    - 회사는 항상 새로운 정보를 자동으로 Update하는 백신을 이용하여 컴퓨터 바이러스에 의한 피해를 방지하기 위해 24시간 근무요원이 상주하면서 보호조치를 취하고
                    있습니다.
                    만일, 바이러스 침투시 자동으로 바이러스 침투 Alarm을 근무자에게 보냄과 동시에 자동 치료하도록 되어 있습니다.<br/>
                    - 회사는 암호알고리즘을 이용하여 네트워크상의 개인정보를 안전하게 전송할 수 있는 보안장치(SSL 또는 SET)를 채택하고 있습니다.<br/>
                    - 회사는 해킹 등 회사 정보통신망 침입에 의해 이용자의 개인정보가 유출되는 것을 방지하기 위해 외부로부터의 침입탐지 및 침입차단 시스템을 24시간 가동하고
                    있습니다.<br/>
                    나. 회사는 이용자의 개인정보보호의 중요성을 인식하고 있으며 이용자의 개인정보보호를 위해 개인정보취급직원을 최소한으로 제한하는 등 다음과 같은 관리적 조치를 취하고
                    있습니다.<br/>
                    - 개인정보를 취급하는 직원을 대상으로 새로운 보안 기술 습득 및 개인정보보호의무 등에 관해 정기적인 사내교육 및 외부 위탁교육을 실시하고 있습니다.<br/>
                    - 회사는 모든 입사자에게 보안서약서를 제출케 함으로 사람에 의한 정보유출을 사전에 방지하고 개인정보취급방침에 대한 이행사항 및 직원의 준수여부를 감시하고 위반내용이
                    확인되는 경우
                    이를 시정 또는 개선하고 기타 필요한 조치를 취하기 위한 내부절차를 마련하고 있습니다. 개인정보 관련 취급자의 업무 인수인계는 보안이 유지된 상태에서 철저하게 이뤄지고
                    있으며
                    입사/퇴사 후 개인정보 사고에 대한 책임을 명확화하고 있습니다.<br/>
                    - 개인정보와 일반 데이터를 혼합하여 보관하지 않고 별도의 서버를 통해 분리하여 보관하고 있습니다.<br/>
                    - 전산실 및 자료 보관실 등을 특별 보호구역으로 설정하여 출입을 통제하고 있습니다.<br/>
                    - 회사는 이용자 개인의 실수나 기본적인 인터넷의 위험성 때문에 일어나는 일들에 대해 책임을 지지 않습니다. 이용자 개개인이 본인의 개인정보를 보호하기 위해서 자신의
                    아이디(ID)
                    와 비밀번호를 적절하게 관리하고 이에 대한 책임을 져야 합니다.
                    <br/><br/>
                    10. 개인정보관리책임자<br/>
                    회사는 이용자가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 이용자에게 고지한 사항들에 반하는 사고가 발생할 시에는 회사가
                    모든
                    책임을 집니다. 그러나, 기술적인 보완조치를 했음에도 불구하고, 해킹 등 기본적인 네트워크상의 위험성에 의해 발생하는 예기치 못한 사고로 인한 정보의 훼손 및 방문자가
                    작성한
                    게시물에 의한 각종 분쟁에 관해서 회사는 책임을 지지 않습니다. 이용자의 개인정보를 취급하는 책임자는 다음과 같으며 개인정보 관련 문의사항에 신속하고 성실하게 답변해 드리고
                    있습니다.<br/>
                    - 개인정보관리책임자 성명 : 김홍도<br/>
                    - 전화번호　: 053-581-1079<br/>
                    - 이메일　: light@iklamp.co.kr
                    <br/><br/>
                    11. 개인정보에 관한 민원서비스
                    회사는 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 개인정보보호민원 담당부서를 지정하여 운영하고 있습니다.<br/>
                    - 개인정보보호민원 <br/>담당부서 :
                    - 전화번호 : 053-581-1079<br/>
                    - 이메일　: light@iklamp.co.kr<br/>
                    이용자는 회사의 서비스를 이용하며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 회사는 이용자들의 신고사항에 대해 신속하게
                    충분한
                    답변을 드릴 것입니다. 기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.<br/>
                    - 개인분쟁조정위원회 (www.1336.or.kr/1336)<br/>
                    - 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4)<br/>
                    - 대검찰청 인터넷범죄수사센터 (icic.sppo.go.kr/02-3480-3600)<br/>
                    - 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)
                    <br/><br/>
                    12. 고지의 의무<br/>
                    가. 본 개인정보취급방침을 포함한 기타 개인정보보호에 대한 상세한 내용은 서비스 홈페이지 첫 화면에 공개함으로써 이용자가 언제나 용이하게 보실 수 있도록 조치하고
                    있습니다.<br/>
                    나. 법령 정책 또는 보안기술의 변경에 따라 중요한 내용의 추가 삭제 및 수정이 있을 시에는 변경되는 개인정보취급방침을 시행하기 전에 서비스 홈페이지를 통해 변경이유 및
                    내용 등에
                    대하여 공지하도록 하겠습니다.<br/>
                    다. 본 개인정보취급방침의 내용은 수시로 변경될 수 있으므로 서비스홈페이지를 방문하실 때 마다 이를 확인하시기 바랍니다.
                    본 방침은 2013년 11월 30일부터 시행됩니다.
                </p>
            </li>
        </ul>
        <div class="join_btn">
            <div class="disagree btn btn-outline-danger"><a href="/">취소</a></div>
            <form action="/stores/join-form" method="get">
                <input type="hidden" name="termsAgreed" value="true">
                <button id="agreeBtn" class="agree btn btn-outline-success" type="submit">확인</button>
            </form>
        </div>
    </section>
</div>
</body>
</html>