<style>
    .table {
        --bs-table-bg: transparent;
    }

    .table.option th {
        align-content: center;
        width: 80%;
    }

    .table.option td {
        align-content: center;
        text-align: end;
    }

    .table.menu-info td {
        width: 185px;
    }

    .hidden {
        display: none;
    }

    input {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
    }

</style>
<div class="modal fade" id="menuModal" role="dialog" tabindex="-1" aria-labelledby="menuModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="min-height: 600px; min-width: 800px">

            <div class="modal-header" style="background-color: navy; padding: 10px;">
                <h5 class="modal-title" style="color: white; font-size: 15px;">메뉴 상세보기</h5>
                <button type="button"
                        style="border: 1px solid #65c6d3; border-radius:50%; background-color: #65c6d3; margin-right: 3px; width: 10px;height: 10px;"
                        class="btn-close" id="btnClose" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/stores/{{sessionStore.id}}/menus/{{id}}" method="post" id="menuEditForm"
                  data-menu-id="{{id}}"
                  data-store-id="{{sessionStore.id}}">
                <div style="display: flex; justify-content: end; padding: 10px">
                    <div id="inputStatusChangeBtns">
                        <div class="edit-btn" id="editBtn" data-input-status="disabled">
                            <button type="button" class="btn btn-outline-dark">수정</button>
                        </div>
                        <div class="complete-btns hidden" id="completeBtns" data-input-status="enabled">
                            <!-- 버튼에 이거 넣어야 함. data-menu-id="{menuId}" -->
                            <button type="submit" class="btn btn-outline-dark" data-menu-id="{{id}}"
                                    data-store-id="{{sessionStore.id}}">
                                저장
                            </button>
                            <button type="button" class="btn btn-outline-danger">
                                취소
                            </button>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="{{id}}">
                <div style="display: grid; grid-template-columns: 1fr 2fr; grid-column-gap: 5%; padding: 30px">
                    <div class="card mt-5" style="width:300px">
                        <div class="card" style="width:300px">

                            <div class="card-body" style="height: 200px;">
                                <img class="card-img" src="https://www.mysavings.com/img/link/large/113816.jpg"
                                     style="height: 100%; width: 100%;">
                            </div>
                            <div id="menu" class="card-footer menu-info">
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <th>분류</th>
                                        <td>menuCategory</td>
                                    </tr>
                                    <tr>
                                        <th>이름</th>
                                        <td>menuName</td>
                                    </tr>
                                    <tr>
                                        <th>가격</th>
                                        <td>menuPrice</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div>
                        <table class="table option">
                            <thead>
                            <tr>
                                <th>
                                    <h4>필수 옵션</h4>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="required-menu-option">
                            <tr>
                                <th>optionName</th>
                                <td>optionPrice</td>
                            </tr>
                            </tbody>
                        </table>
                        <table class="table option mb-5">
                            <thead>
                            <tr>
                                <th>
                                    <h4>선택 옵션</h4>
                                </th>
                            </tr>
                            </thead>
                            <tbody id="optional-menu-option">
                            <tr>
                                <th>optionName</th>
                                <td>optionPrice</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>