{{>layout/header}}
{{>menus-create-form}}
{{>menus-detail-form}}
<div id="layoutSidenav" style="display: flex; ">
    {{>layout/sidebar}}
    <!--
    <div id="layoutSidenav_nav d-flex" style="width: 260px; z-index: 1038;">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion"
             style="position: relative; background-color: #e6e6e6; height: 100vh;">
            <div class="sb-sidenav-menu">
                <div class="nav d-flex align-items-center" style="font-size: 20px;">
                    <div class="d-flex justify-content-center"
                         style="position: relative;border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px;">
                        <a class="nav-link" href="/stores/1/orders" style="padding: 20px;margin-right: 5px;">
                            주문
                        </a>
                        <div class="new-popup-count hidden" id="newPopupCount"
                             style="position: absolute;top: 50px;right: 70px;background-color: orange;border-radius: 5px;padding: 0 4px;font-size: 10px;color: black;">
                            17
                        </div>
                    </div>
                    <div class="d-flex justify-content-center"
                         style="border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px;">
                        &lt;!&ndash; TODO: 매핑 1로 되어있음 &ndash;&gt;
                        <a class="nav-link" href="/stores/1/orders/history">
                            지난 주문
                        </a>
                    </div>
                    <div class="d-flex justify-content-center"
                         style="border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px; background-color: rgb(5, 5, 43); ">
                        &lt;!&ndash; TODO: 매핑 1로 되어있음 &ndash;&gt;
                        <a class="nav-link" href="/stores/1/menus" style="color: #e6e6e6!important;">
                            메뉴
                        </a>
                    </div>
                    <div class="d-flex justify-content-center"
                         style="border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px;">
                        &lt;!&ndash; TODO: 매핑 1로 되어있음 &ndash;&gt;
                        <a class="nav-link" href="/stores/1">
                            매장정보
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    -->
    <main style="padding: 50px; background-color: rgb(5, 5, 43); width: 100%;">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-end" style="margin-bottom: 10px;">
                <!--TODO: 카테고리별 보기-->
                <h1 style="color: white; margin-right: 10px; font-size: 30px;">메뉴 관리</h1>
                <button type="button" class="btn btn-warning" style="height: 48px;" data-bs-toggle="modal"
                        data-bs-target="#addMenuModal">➕
                </button>
            </div>
            <div class="row row-cols-4 gap-3">
                {{#menuList}}
                    <div class="card mb-4" style="font-size: 12px;width: 240px; padding: 0;">
                        <div style="padding: 10px;">
                            <div class="d-flex justify-content-center" style="height: 150px; align-items: center">
                                <div style="margin-bottom: 10px; width: 100px;">
                                    <img src="{{imgFilePath}}" class="card-img-top" alt="메뉴 이미지">
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between" style="margin-bottom: 5px;">
                                <div style="font-size: 15px;">
                                    <div><b>{{name}}</b></div>
                                    <div>{{price}}</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button type="button" class="btn btn-outline-success" data-bs-toggle="modal"
                                    data-bs-target="#menuModal"
                                    style="width: 100%;font-size: 12px;padding: 10px 0; ">상세 보기
                            </button>
                        </div>
                    </div>
                {{/menuList}}
            </div>
        </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="/js/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
        crossorigin="anonymous"></script>
<script>
    storeStatus();
    setClock();
    addOptionBtnInAdd();
    addOptionBtnInEdit();
</script>
</body>
</html>