<!-- 메뉴 수정 모달 시작 -->
<div class="modal fade" id="editMenuModal" tabindex="-1" aria-labelledby="editMenuModalLabel"
     data-bs-backdrop="static" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editMenuModalLabel">메뉴 수정</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="category" class="col-form-label">카테고리</label>
                        <input type="text" class="form-control" id="category">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">이름</label>
                        <input type="text" class="form-control" id="name">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">가격</label>
                        <input type="text" class="form-control" id="price">
                    </div>
                    <div class="mb-3">
                        <label for="imgFilename" class="col-form-label">이미지</label>
                        <input type="file" class="form-control" id="imgFilename">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">설명</label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div id="optionFieldsInEdit">
                        <div class="mb-3">
                            <label for="option" class="col-form-label">옵션</label>
                            <input type="text" class="form-control" name="option[]">
                        </div>
                    </div>
                    <button type="button" id="addOptionInEdit" class="btn btn-primary">+</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소하기</button>
                <button type="submit" class="btn btn-primary">저장하기</button>
            </div>
        </div>
    </div>
</div>
<!-- 메뉴 수정 모달 끝 -->