<!-- 메뉴 추가 모달 시작 -->
<div class="modal fade" id="addMenuModal" tabindex="-1" aria-labelledby="addMenuModalLabel" data-bs-backdrop="static"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addMenuModalLabel">메뉴 추가</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/stores/1/menus" method="post">
                <div class="modal-body"> <!--TODO: 유효성 검사-->
                    <div class="mb-3">
                        <label for="category" class="col-form-label">카테고리</label>
                        <input type="text" class="form-control" name="category">
                    </div>
                    <div class="mb-3">
                        <label for="name" class="col-form-label">이름</label>
                        <input type="text" class="form-control" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">가격</label>
                        <input type="text" class="form-control" name="price">
                    </div>
                    <div class="mb-3">
                        <label for="imgFilename" class="col-form-label">이미지</label>
                        <input type="file" class="form-control" name="imgFile">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">설명</label>
                        <input type="text" class="form-control" name="description">
                    </div>
                    <!--
                    <div id="optionFieldsInAdd">
                        <div class="mb-3">
                            <label for="option" class="col-form-label">옵션</label>
                            <input type="text" class="form-control" name="option[]">
                        </div>
                    </div>
                    <button type="button" id="addOptionInAdd" class="btn btn-primary">+</button>
                    -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소하기</button>
                    <button type="submit" class="btn btn-primary">추가하기</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- 메뉴 추가 모달 끝 -->