<div class="card mb-4" style="font-size: 12px;width: 240px; padding: 0;">
    <form action="/stores/{{sessionStore.id}}/orders/{{orderId}}/update" method="post">
        <input type="hidden" name="status" value="{{status}}">
        <div style="padding: 10px;">
            <div class="d-flex justify-content-start" style="margin-bottom: 10px;">
                <button type="button" class="btn btn-success"
                        style="font-size: 12px; color:white" disabled><b>{{status.value}}</b>
                    11: 23분
                    수령예정
                </button>
            </div>
            <div class="d-flex align-items-center justify-content-between"
                 style="margin-bottom: 10px;">
                <div style="font-size: 15px;">
                    <div><b>테이크아웃</b></div>
                    <div style="font-size: 12px;">{{customerNickname}}</div>
                </div>
                <div>
                    <button type="button" class="btn btn-outline-primary" style="font-size: 12px;"
                            data-bs-toggle="modal"
                            data-bs-target="#orderDetailModal"
                            data-order-id="{{orderId}}"
                            data-store-id="{{storeId}}"
                    >상세<br/>보기
                    </button>
                </div>
            </div>
            <div style="
                          display: -webkit-box;
                          -webkit-line-clamp: 1;
                          -webkit-box-orient: vertical;
                          overflow: hidden;
                          text-overflow: ellipsis;
                        ">
                {{#menuList}}
                    <span>{{name}}({{qty}})</span>
                {{/menuList}}
            </div>
            <div>{{createdAt}}</div>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success"
                    style="width: 100%;font-size: 12px;padding: 10px 0; box-sizing: border-box;">
                조리완료
            </button>
        </div>
    </form>
</div>