{{>layout/header}}
<div id="layoutSidenav" style="display: flex;">
    {{>layout/sidebar}}
    <main style="padding: 50px; background-color: rgb(5, 5, 43); width: 100%; min-height: 1000px;">
        {{>order-detail-form}}
        <div class="container-fluid px-4">
            <h1 class="date" id="date" style="color: #e6e6e6;"></h1>
            <div class="row row-cols-4 gap-3" style="display: flex; flex-wrap: wrap;">
                <!-- TODO: 모델에 데이터 담아서 머스태치 수정하기 /stores/{storeId}/orders/{orderId}/update -->
                {{#orders.pendingOrderList}}
                    {{>order-pending}}
                {{/orders.pendingOrderList}}
                {{#orders.preparingOrderList}}
                    {{>order-preparing}}
                {{/orders.preparingOrderList}}
                {{#orders.preparedOrderList}}
                    {{>order-prepared}}
                {{/orders.preparedOrderList}}
            </div>
        </div>
    </main>
</div>
<script src="/js/orders.js"></script>
{{>layout/footer}}
