<hr>
<div style="display: grid; grid-template-columns: 1fr 2fr; grid-column-gap: 5px">
    <div style="width: 240px">
                                        <div style="width: 100%; height: 300px; border: 1px solid #e6e6e6; margin-bottom: 20px;">
                                            <img src="/upload/{{imgFilename}}" style="width: 100%;">
                                        </div>
        <div style="width: 100%;">
            <form action="/stores/{{id}}/update-form" method="get">
                <button type="submit" class="btn btn-outline-success mb-3"
                        style="width: 100%">수정하기
                </button>
            </form>
        </div>
    </div>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th style="width: 160px; min-width: 130px">
                    <h4>매장 정보</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>상호명</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td>{{tel}}</td>
            </tr>
            <tr>
                <th>소개</th>
                <td>{{intro}}</td>
            </tr>
            <tr>
                <th>개점 시간</th>
                <td>{{openingTime}}</td>
            </tr>
            <tr>
                <th>폐점 시간</th>
                <td>{{closingTime}}</td>
            </tr>
            <tr>
                <th>휴무일</th>
                <td>{{closedDay}}</td>
            </tr>
            <tr>
                <th>주소</th>
                <td>{{address}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 160px; min-width: 130px">
                    <h4>사업주 정보</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>사업주 이름</th>
                <td>{{ownerName}}</td>
            </tr>
            <tr>
                <th>사업주 연락처</th>
                <td>{{ownerTel}}</td>
            </tr>
            <tr>
                <th>사업자 이메일</th>
                <td>{{ownerEmail}}</td>
            </tr>
            <tr>
                <th>사업자 번호</th>
                <td>{{bizNum}}</td>
            </tr>
            </tbody>
        </table>
        <table class="table">
            <thead>
            <tr>
                <th style="width: 160px; min-width: 130px">
                    <h4>회원 정보</h4>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>아이디</th>
                <td>{{username}}</td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td>{{password}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>