{{>layout/header}}
<div id="layoutSidenav" style="display: flex">
    {{>layout/sidebar}}
    <!--
    <div id="layoutSidenav_nav d-flex" style="width: 260px; z-index: 1038;">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion"
             style="position: relative; background-color: #e6e6e6; height: 100vh;">
            <div class="sb-sidenav-menu">
                <div class="nav d-flex align-items-center" style="font-size: 20px;">
                    <div class="d-flex justify-content-center"
                         style="position: relative;border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px; ">
                        <a class="nav-link" href="/stores/1/orders" style="padding: 20px;margin-right: 5px;">
                            주문
                        </a>
                        <div class="new-popup-count hidden" id="newPopupCount"
                             style="position: absolute;top: 50px;right: 70px;background-color: orange;border-radius: 5px;padding: 0 4px;font-size: 10px;color: black;">
                            17
                        </div>
                    </div>
                    <div class="d-flex justify-content-center"
                         style="border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px;">
                        &lt;!&ndash; TODO: 매핑 1로 되어있음 &ndash;&gt;
                        <a class="nav-link" href="/stores/1/orders/history">
                            지난 주문
                        </a>
                    </div>
                    <div class="d-flex justify-content-center"
                         style="border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px;">
                        &lt;!&ndash; TODO: 매핑 1로 되어있음 &ndash;&gt;
                        <a class="nav-link" href="/stores/1/menus">
                            메뉴
                        </a>
                    </div>
                    <div class="d-flex justify-content-center"
                         style="border-bottom: 1px solid #e6e6e6;width: 100%;padding: 20px; background-color: rgb(5, 5, 43);">
                        &lt;!&ndash; TODO: 매핑 1로 되어있음 &ndash;&gt;
                        <a class="nav-link" href="/stores/1" style=" color: #e6e6e6!important;">
                            매장정보
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    -->
    <main style="padding: 50px; background-color: rgb(5, 5, 43); width: 100%; min-height: 1000px;">
        <div class="container d-flex">
            <div class=" mx-2 pb-4 w-100">
                <div class="border p-5 rounded shadow" style="background-color: white;">
                    <div class="d-flex justify-content-between">
                        <h1 class="d-inline-flex">매장 정보 관리</h1>
                    </div>
                    {{#storeDetail}}
                        <hr>
                        <div style="display: grid; grid-template-columns: 1fr 2fr; grid-column-gap: 5px">
                            <div style="width: 240px">
                                <!--                                <div style="width: 100%; height: 300px; border: 1px solid #e6e6e6; margin-bottom: 20px;">-->
                                <!--                                    <img src="{{!imgFilename}}" style="width: 100%;">-->
                                <!--                                </div>-->
                                <div style="width: 100%;">
                                    <form action="/stores/{{id}}/update-form" method="get">
                                        <button type="submit" class="btn btn-outline-success mb-3"
                                                style="width: 100%">수정하기
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="container">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 160px; min-width: 130px">
                                            <h4>매장 정보</h4>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>상호명</th>
                                        <td>{{name}}</td>
                                    </tr>
                                    <tr>
                                        <th>전화번호</th>
                                        <td>{{tel}}</td>
                                    </tr>
                                    <tr>
                                        <th>소개</th>
                                        <td>{{intro}}</td>
                                    </tr>
                                    <tr>
                                        <th>개점 시간</th>
                                        <td>{{openingTime}}</td>
                                    </tr>
                                    <tr>
                                        <th>폐점 시간</th>
                                        <td>{{closingTime}}</td>
                                    </tr>
                                    <tr>
                                        <th>휴무일</th>
                                        <td>{{closedDay}}</td>
                                    </tr>
                                    <tr>
                                        <th>주소</th>
                                        <td>{{address}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 160px; min-width: 130px">
                                            <h4>사업주 정보</h4>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>사업주 이름</th>
                                        <td>{{ownerName}}</td>
                                    </tr>
                                    <tr>
                                        <th>사업주 연락처</th>
                                        <td>{{ownerTel}}</td>
                                    </tr>
                                    <tr>
                                        <th>사업자 이메일</th>
                                        <td>{{ownerEmail}}</td>
                                    </tr>
                                    <tr>
                                        <th>사업자 번호</th>
                                        <td>{{bizNum}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th style="width: 160px; min-width: 130px">
                                            <h4>회원 정보</h4>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th>아이디</th>
                                        <td>{{username}}</td>
                                    </tr>
                                    <tr>
                                        <th>비밀번호</th>
                                        <td>{{password}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <hr>
                    {{/storeDetail}}
                </div>
            </div>
            <!-- list-group( 오른쪽 바로가기) 시작 -->
        </div>
    </main>
</div>
{{>layout/footer}}

