{{>layout/header}}
<div id="layoutSidenav" style="display: flex">
    {{>layout/sidebar}}
    <main style="padding: 50px; background-color: rgb(5, 5, 43); width: 100%; min-height: 1000px;">
        <div class="container d-flex">
            <div class=" mx-2 pb-4 w-100">
                <div class="border p-5 rounded shadow" style="background-color: white;">
                    <div class="d-flex justify-content-between">
                        <h1 class="d-inline-flex">매장 정보 관리</h1>
                    </div>
                    {{#storeDetail}}
                        {{>store-detail}}
                    {{/storeDetail}}
                </div>
            </div>
            <!-- list-group( 오른쪽 바로가기) 시작 -->
        </div>
    </main>
</div>
{{>layout/footer}}

