{{>layout/header}}
<div id="layoutSidenav" style="display: flex">
    {{>layout/sidebar}}
    <main style="padding: 50px; background-color: rgb(5, 5, 43); width: 100%; min-height: 1000px;">
        <div class="container d-flex">
            <div class=" mx-2 pb-4 w-100">
                <div class="border border-tertiary p-5 rounded shadow" style="background-color: white;">
                    <div class="d-flex justify-content-between">
                        <h1>정보수정</h1>
                    </div>
                    <hr>
                    <div>
                        <div class="container text ">
                            <form action="/stores/{{sessionStore.id}}" method="post" enctype="multipart/form-data">
                                <input type="hidden" id="id" name="id" value="1">
                                <div class="px-5">
                                    <h4 class="border-bottom pb-4">매장 정보</h4>
                                    <br>
                                    <!-- 이미지 업로드 시작 -->
<!--                                    <div class="upload d-flex justify-content-center mb-3">-->
<!--                                        <div class=" d-flex d-flex justify-content-center align-items-center"-->
<!--                                             style="width: 200px; height: 260px; border: 1px solid #e6e6e6; color: #e6e6e6;"-->
<!--                                             id="imgfilePreview"><img src="" style="width: 100%; height: 100%;">-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="input-group mb-3">-->
<!--                                        <input type="file" class="form-control mt-2" accept="image/*"-->
<!--                                               name="imgFilename" id="imgFilename" value="{{!storeDetail.imgFilename}}" multiple/>-->
<!--                                        <script>-->
<!--                                            $('#imgFilename').change(function () {-->
<!--                                                let input = this;-->
<!--                                                if (input.files && input.files[0]) {-->
<!--                                                    let reader = new FileReader();-->

<!--                                                    reader.onload = function (e) {-->
<!--                                                        $('#imgfilePreview').html('<img src="' + e.target.result + '" style="max-width: 100%;">');-->
<!--                                                    };-->

<!--                                                    reader.readAsDataURL(input.files[0]);-->

<!--                                                    let fileName = input.files[0].name;-->
<!--                                                    $('#imgFilename').val(fileName);-->
<!--                                                    console.log(fileName);-->
<!--                                                }-->
<!--                                            });-->
<!--                                        </script>-->
<!--                                    </div>-->
                                    <!-- 이미지 업로드 끝  -->

                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">상호명</span>
                                        <input type="text" class="form-control" value="{{storeDetail.name}}" name="name"
                                               id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">매장
                                                    전화번호</span>
                                        <input type="text" class="form-control" value="{{storeDetail.tel}}" name="tel"
                                               id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">매장소개</span>
                                        <input type="text" class="form-control" maxlength="11"
                                               value="{{storeDetail.intro}}" name="intro" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">개점시간</span>
                                        <input type="time" class="form-control" value="{{storeDetail.openingTime}}"
                                               name="openingTime" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">폐점시간</span>
                                        <input type="time" class="form-control" value="{{storeDetail.closingTime}}"
                                               name="closingTime" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">휴무일</span>
<!--                                        TODO: 타입을 date로 해야 하나?-->
                                        <input type="text" class="form-control" value="{{storeDetail.closedDay}}"
                                               name="closedDay" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">매장
                                                    주소</span>
                                        <input type="text" class="form-control" value="{{storeDetail.address}}"
                                               name="address" id="" required>
                                    </div>
                                    <div class="mt-5">
                                        <h4 class="border-bottom pb-4">사업자 정보</h4>
                                    </div>
                                    <br>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">사업주
                                                    이름</span>
                                        <input type="text" class="form-control" value="{{storeDetail.ownerName}}"
                                               name="ownerName" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">사업주
                                                    연락처</span>
                                        <input type="tel" class="form-control" value="{{storeDetail.ownerTel}}"
                                               name="ownerTel" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">사업주
                                                    이메일</span>
                                        <input type="email" class="form-control" value="{{storeDetail.ownerEmail}}"
                                               name="ownerEmail" id="" required>
                                    </div>
                                    <div class="input-group mb-3">
                                                <span
                                                        class="input-group-text init_color justify-content-center hs_span_size hs_span">사업자
                                                    번호</span>
                                        <input type="text" class="form-control" value="{{storeDetail.bizNum}}"
                                               name="bizNum" id="" required>
                                    </div>
                                    <div class="mt-5">
                                        <h4 class="border-bottom pb-4">비밀번호 수정</h4>
<!--                                        TODO: 비밀번호 수정 추후에 다시-->
                                    </div>
                                    <br>
<!--                                    <div class="company-password">-->
<!--                                        <div class="input-group mb-3">-->
<!--                                                    <span-->
<!--                                                            class="input-group-text  justify-content-center hs_span_size init_color">비밀번호</span>-->
<!--                                            <input type="password" class="form-control" value="1234"-->
<!--                                                   id="password" name="password" readonly>-->
<!--                                        </div>-->
<!--                                        <div class="input-group mb-3">-->
<!--                                                    <span-->
<!--                                                            class="input-group-text  justify-content-center hs_span_size init_color">비밀번호-->
<!--                                                        확인</span>-->
<!--                                            <input type="password" class="form-control" name="checkPassword"-->
<!--                                                   id="checkPassword" placeholder="기존 비밀번호 입력">-->
<!--                                        </div>-->
<!--                                        <div class="d-flex justify-content-center" style="width: 100%;">-->
<!--                                            <div style="width: 100%;">-->
<!--                                                <button type="submit" class="btn btn-outline-success mb-3"-->
<!--                                                        style="width: 100%">확인-->
<!--                                                </button>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="input-group mb-3 mt-3">
                                                <span
                                                        class="input-group-text  justify-content-center hs_span_size init_color">변경
                                                    비밀번호</span>
                                        <input type="password" class="form-control" id="newPassword"
                                               name="password">
                                    </div>
                                    <!--
                                    <script>
                                        $('.company-password button[type="submit"]').click(function (e) {
                                            e.preventDefault();
                                            let oldPassword = $('input[name="password"]').val();
                                            let confirmPassword = $('input[name="checkPassword"]').val();

                                            if (oldPassword !== confirmPassword) {
                                                alert('기존 비밀번호와 확인 비밀번호가 일치하지 않습니다.');
                                            } else {
                                                alert('비밀번호가 일치합니다. 변경하실 수 있습니다.');
                                            }
                                        });

                                        $('button[type="submit"]:not(.company-password button)').click(function (e) {
                                            e.preventDefault();

                                            let oldPassword = $('input[name="password"]').val();
                                            let confirmPassword = $('input[name="checkPassword"]').val();
                                            let newPassword = $('input[name="newPassword"]').val();

                                            if (oldPassword !== confirmPassword) {
                                                alert('기존 비밀번호와 확인 비밀번호가 일치하지 않습니다.');
                                            } else {
                                                $('input[name="password"]').val(newPassword);

                                                $('form').submit();
                                            }
                                        });
                                    </script>
                                    -->
                                    <div class="d-flex justify-content-center mt-5" style="width: 100%;">
                                        <div style="width: 100%;">
                                            <button type="submit" class="btn btn-outline-success mb-3"
                                                    style="width: 100%">수정완료
                                            </button>
                                        </div>
                                        <div class="d-flex justify-content-center" style="width: 100%">
                                            <a href="/stores/{{sessionStore.id}}" class="btn btn-outline-secondary mb-3"
                                               style="width: 100%">취소</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
{{>layout/footer}}